<!DOCTYPE html>
<html>
<head>
	<title>Books List</title>
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/project2.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link href="stylesheets/project2.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" charset="utf8" src="project2.js"></script>
	<script type="text/javascript" charset="utf8" src="project.js"></script>

</head>
<body>
    <div class="container masthead">
        <div class="logo">
            <img src="Images/logo2.png" alt="Books by Rick" width="207" height="75" />
        </div>
        <div class="navbar  navbar-static-top">
            <ul>
                <li>
                    <a href="http://arcane-earth-11969.herokuapp.com/Personal/Week14/List.php">Books</a>
                </li>
                <li>
                    <a href="http://arcane-earth-11969.herokuapp.com/Personal/Week14/Authors.php">Genres</a>
                </li>
                <li>
                    <a href="http://arcane-earth-11969.herokuapp.com/Personal/Week14/Series.php">Series</a>
                </li>
                <li>
                    <a href="http://arcane-earth-11969.herokuapp.com/Personal/Week14/Genres.php">Genres</a>
                </li>
                <li>
                    <a class="active" href="https://dkcarclite-node.herokuapp.com/GetBooks.html">Google Book Search</a>
                </li>
            </ul>
        </div>
    </div>
<div class="container">
	<table id="BooksList" class="dataTable table-striped">
	    <thead>
        <tr>
			<th class="hide">Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Copyright</th>
			<th class="hide">Author Id</th>
			<th class="hide">Description</th>
			<th>Action(s)</th>
			<th class="hide">ISBN</th>
			<th class="hide">Pages</th>
			<th class="hide">Thumbnail</th>		
			<th class="hide">Title Hidden</th>			
        </tr>
    </thead>
	<tbody>

	<% for(var i=0; i < data.length; i++) { %>
	   <tr>
	     <td class="hide"><%= data[i].id %></td>
		 <td><a href="<%= data[i].link %>" target="_blank"><%= data[i].title %></a></td>
		 <td><%= data[i].author %></td>
		 <td><%= data[i].copyright %></td>
		 <td class="hide"><%= data[i].author_id %></td>
		 <td class="hide"><%= data[i].description %></td>
		  <td><button type="button" name="btnView" id="btnView" class="btn btn-small btn-primary button btn-rick btnOpenModal" value="<%= data[i].id %>" data-toggle="modal" data-target="#modalBook" data-backdrop="static" data-keyboard="false">View</button>&nbsp;
		 <button type="button" name="btnAdd" id="btnAdd" class="btn btn-small btn-success button btn-rick add" value="<%= data[i].id %>" data-keyboard="false">Add</button></td>
		 <td class="hide"><%= data[i].isbn %></td>
		 <td class="hide"><%= data[i].pages %></td>
		 <td class="hide"><%= data[i].thumbnail %></td>		
		 <td class="hide"><%= data[i].title %></td>
	   </tr>
	<% } %>
	</tbody>
	</table>
	<a href="GetBooks.html" class="btn btn-primary">Search Again<a>
	</div>
    <form action="results.ejs?action=addBook" class="form-labels-on-top" method="post">
        <div class="modal fade" id="modalBook" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Book Detail</h4>
                    </div>
                    <div class="modal-body">
					<div class="row"><!--start of first row-->
					<div class="col-sm-9"><!--start first column (form fields)-->
						<fieldset>
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									Title:
								</label>
								<div class="col-sm-2">
									<input id="modal-title" class="form-control input-edit" type="text" name="title" required />
								</div>
							</div>
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									Author:
								</label>
								<div class="col-sm-2">
									<input id="modal-author" class="form-control input-edit" type="text" name="author" required />
								</div>
							</div>
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									Copyright:
								</label>
								<div class="col-sm-2">
									<input id="modal-copyright" class="form-control input-edit number-only" type="text" name="copyright" maxlength="4"  />
								</div>
							</div>
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									ISBN:
								</label>
								<div class="col-sm-2">
									<input id="modal-isbn" class="form-control input-edit number-only" type="text" name="isbn" maxlength="13"  />
								</div>
							</div>
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									Pages:
								</label>
								<div class="col-sm-2">
									<input id="modal-pages" class="form-control input-edit number-only" type="text" name="pages" maxlength="4"  />
								</div>
							</div>							
							<div class="row">
								<label class="control-label col-sm-2 text-right">
									Description:
								</label>
								<div class="col-sm-5">
									<textarea class="textarea-edit form-control" id="modal-description" maxlength="1000" name="description" type="text"><?php echo htmlspecialchars($book['Description']); ?></textarea>
									<span id="chars">1000</span> characters remaining
								</div>
							</div>
							<br/>
							<input id="authorid" name="modal-author_id" type="hidden" />
						</fieldset>  
						</div><!-- end first column (form fields)-->
						<div class="col-sm-3"><!-- start 2nd column (image)-->
								<label class="control-label col-sm-2 text-right">
									Thumbnail:
								</label>
								<img id="thumbnail" src="" alt="">
						</div><!-- end 2nd column (image)-->
						</div><!--end of first row-->
					</div>
                    <div class="modal-footer">                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>